@model IEnumerable<MVCKanban.ViewModel.ViewPermisosMenu>
@{
    bool Permiso = false;
    bool Requerimiento = false;
    bool DashBoard = false;
    bool Asignar = false;
    bool Sistema = false;
    bool Kanban = false;
    bool Revision = false;
    foreach (var item in Model)
    {
        switch (item.modulo)
        {
            case "Permiso":
                Permiso = item.permiso;
                break;
            case "Requerimiento":
                Requerimiento = item.permiso;
                break;
            case "DashBoard":
                DashBoard = item.permiso;
                break;
            case "Asignar":
                Asignar = item.permiso;
                break;
            case "Sistema":
                Sistema = item.permiso;
                break;
            case "Kanban":
                Kanban = item.permiso;
                break;
            case "Revision":
                Revision = item.permiso;
                break;
            }
    }
    }
<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="~/Img/user2-160x160.jpg" class="img-circle rutaImagen" alt="User Image">
        </div>
        <div class="pull-left info">
            <p><label class="NombreUsuario">Alexander Pierce</label></p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        @if (DashBoard)
        {
            <li class="treeview">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("index","DashBoard")"><i class="fa fa-circle-o"></i> Departamento</a></li>
                <li><a href="@Url.Action("DashBoardUsuario","DashBoard")"><i class="fa fa-circle-o"></i> DashBoard Empleado</a></li>
            </ul>
        </li>
        }
        @if (Sistema)
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-gears"></i> <span>Sistema</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("index","Departamento")"><i class="fa fa-circle-o"></i> Departamento</a></li>
                    <li><a href="@Url.Action("index","Modulo")"><i class="fa fa-circle-o"></i> Modulos</a></li>
                    <li><a href="@Url.Action("index","Roles")"><i class="fa fa-circle-o"></i> Roles</a></li>
                    <li><a href="@Url.Action("index","Permisos")"><i class="fa fa-circle-o"></i> Permisos</a></li>
                    <li><a href="@Url.Action("index","Usuario")"><i class="fa fa-circle-o"></i> Usuarios</a></li>
                </ul>
            </li>
        }

        @if (Asignar)
        {
            <li><a href="@Url.Action("index","Asignar")"><i class="fa fa-user-plus"></i> <span>Asignar Requerimientos</span></a></li>
        }
        @if (Kanban)
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Cuadro Kanban</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("index","Kanban")"><i class="fa fa-circle-o"></i> Cuadro de Requerimientos</a></li>
                    @if (Revision)
                    {
                        <li><a href="@Url.Action("index","Revision")"><i class="fa fa-circle-o"></i> Cuadro de Revision</a></li>
                    }
                </ul>
            </li>
        }
        @if (Requerimiento)
        {
            <li><a href="@Url.Action("index","Requerimiento")"><i class="fa  fa-pencil-square-o"></i> <span>Crear Requerimiento</span></a></li>
        }

    </ul>
</section>
